<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <div class='separator'>
    <h4>Merge Articles</h4>
    <%= form_tag '/admin/content/merge_article' do %>
      <%= hidden_field_tag 'main_article_id', @article.id %>
      <%= text_field_tag 'merge_with' %>
    <%= submit_tag 'Merge', :id => 'merge_with_button' %>
    <% end %>
  </div>
